body {
background: lightblue;
}

#head {
    background: orange;
    width: 500px;
    height:100px;
    margin-bottom: 10px;    
}

#body {
    background: peachpuff;
    width: 500px;
    height: 200px;
    color: green;
    padding: 10px 10px 10px 10px;
}

h1 {
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    color:white;
    padding: 10px 10px 10px 10px;
}

#randomnumber {
    background: yellow;
    width:250px;
    height:250px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    
}

p {
    font-weight: bold;
    font-size: 20px;
    
}


#winslosses {
    background: pink;
    width: 150px;
    height: 150px;
    margin-left: 500px;
    
    
}

#images {
width: 800px;
    margin-top: 10px;
}

.crystalclass {
    height: 150px;
    width: 150px;
}



#score {
    height:75px;
    width: 200px;
    background: orange;
    color: white;
}